In [ ]:
-- need to create a table which will tell the product , category , amount_sold
CREATE TABLE sales_akshit(
    product_id INT , 
    category VARCHAR(20),
    amount_sold INT
)
-- method which we need to use to create the table

In [1]:
SELECT * FROM sales_akshit
-- here we have created the tables as you can see--
-- you can insert any values in the coloumn as you wish by-
INSERT INTO sales_akshit
VALUES(34 , 'electronics' , 540)

product_id,category,amount_sold,product,sales_date
38,book,300,harry potter,2020-10-30
20,electronics,390,phone,2024-10-30
55,cosmectices,408,lipstick,2024-10-20
25,toys,550,nerf gun,2024-09-29
26,book,650,hardy boys,2020-10-30
54,cosmectices,500,lip balm,2024-10-20
34,electronics,540,airpodes,2024-10-30

**The question 1 is to the find the maximum sales for each product category in the given table**

so we will begin with that

In [2]:
 SELECT category , count(amount_sold) as total_sales 
 FROM sales_akshit
 GROUP BY category

 -- here we can see that by using the group by function we can calculate the total amount sold for each category--

category,total_sales
book,2
cosmectices,2
electronics,2
toys,1

In [5]:
SELECT * FROM employee_akshit

emp_id,emp_name,dept_id,salary
E1,RAM,D1,10000
E2,Sohan,D2,20000
E3,Reeta,D1,30000
E4,Neha,D2,50000
E5,Tia,D3,40000

**Next in the question 2 we have to create another table with the name employess**

**The coloumns of the rows would be employee \_id , dept\_id , emp\_name , salary**

In [7]:
SELECT * FROM employee_akshit
-- Here we can see that the table has been created and now we can usen it to solve the question

emp_id,emp_name,dept_id,salary
E1,RAM,D1,10000
E2,Sohan,D2,20000
E3,Reeta,D1,30000
E4,Neha,D2,50000
E5,Tia,D3,40000

**Q2 is same as the Q1 of the previous part. We have to find the no.of employess in each department.**

In [6]:
 SELECT dept_id , count(emp_id) as total_emp
 FROM employee_akshit
 GROUP BY dept_id
 -- here we use the same select and group by commands to find the solution --

dept_id,total_emp
D1,2
D2,2
D3,1

**NOW WE WILL DO SOME PLAYING AROUND WITH THE TABLE WHERE WE ARE GOING TO FIND THE AVERAGE , MAX AND MINIMUM SALARY IN EACH DEPARTMAENT**

In [11]:
-- TO FIND THE AVERAGE SALARY IN EACH DEPARTMENT --
SELECT dept_id ,AVG(salary) as avg_salary
FROM employee_akshit
GROUP BY dept_id
-- to find the max salary in each department--
SELECT dept_id ,max(salary) as max_salary
FROM employee_akshit
GROUP BY dept_id
-- to find the min salary in each department--
SELECT dept_id ,min(salary) as min_salary
FROM employee_akshit
GROUP BY dept_id

dept_id,avg_salary
D1,20000
D2,35000
D3,40000

dept_id,max_salary
D1,30000
D2,50000
D3,40000

dept_id,min_salary
D1,10000
D2,20000
D3,40000

**NOW lets use the group by function again and find the most expensive poduct sold in each categoy in the sales tabel**

In [16]:
SELECT category, MAX(amount_sold) as expensive_product 
FROM sales_akshit
GROUP BY category 
--- her we can see all the 4 categories which we have and the most expensive product in each of the following categories-

category,expensive_product
book,650
cosmectices,500
electronics,540
toys,550

In [20]:
SELECT category, avg(amount_sold) as avg_cost
FROM sales_akshit
GROUP BY category 
-- here we have the avg cost of each product in the products table--

category,avg_cost
book,475
cosmectices,454
electronics,465
toys,550